@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('./introrustg-base2line-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proextralight';
    src: url('./sourcesanspro-extralight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content auto;
}

header {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #1f2937;
    font-family: "intro_rust_gbase_2_line", sans-serif;
}

header > .h1img {
    display: flex;
    gap: 15px;
    align-items: center;
}

header svg {
    fill: white;
    display: block;
    height: 40px;
    width: 40px;
}
header ul {
    display: flex;
    gap: 10px;
}

a.checkout {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

ul > li {
    list-style-type: none;
}

li > a {
    box-sizing: border-box;
    border-radius: 15px;
    display: block;
    padding: 15px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}



a.active {
    background-color: #15803d;
    border: 2px solid white;
}

.home, .shop, .contact {
    padding: 20px;
}

.home {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.home h1 {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #1f2937;

}

.home h1:nth-of-type(2) {
    margin-top: 20px;
}

.home img {
    width: 40%;
    display: block;
    object-fit: contain;
    animation: rotateY 5s linear;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    perspective: 1000px;
}

.shop {
    background-color: #374151;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop ul {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.shop a {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
}

.shop main .menitem, .shop main .womenitem {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 470px;
    gap: 30px;
}

.shop main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.shop main input {
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 15px;
    width: 35%;
    font-size: 18px;
    align-self: center;

    

}

.shop main div.loader {
    text-align: center;
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    color: white;
}

.shop main .itemcards, .singlemen > .singlecard, .singlewomen > .singlecard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d1d5db;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 7px #1f2937;
}

.shop main .itemcards input {
    height: 30px;
    border-radius: 15px;
    border: none;
    text-align: center;
    width: 70%;

}

.shop main .itemcards form {
    width: 150px;
    box-sizing: border-box;
}

.shop main .itemcards .quantity button {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}

.shop main .itemcards .quantity .add {
    background-color: #22c55e;
}

.shop main .itemcards .quantity .sub {
    background-color: #ef4444;
}

.shop main .itemcards :nth-child(4) {
    display: flex;
    justify-content: center;
}

.shop main .itemcards :nth-child(4) > a {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #22c55e;
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.shop main .itemcards img, .singlemen > .singlecard img, .singlewomen > .singlecard img{
    width: 45%;
    max-height: 190px;
    object-fit: contain;
    display: block;
}

.shop main .itemcards .img, .singlemen > .singlecard > .img, .singlewomen > .singlecard > .img {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.shop main .itemcards .title, .shop main .itemcards .price {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.shop main .itemcards .price {
    display: flex;
    justify-content: flex-end;
}

.shop main .itemcards .quantity {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.shop main .itemcards button[type="submit"] {
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    min-width: 50px;
    border-radius: 15px;
    color: white;
    background-color: #1f2937;
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
}

@keyframes rotateY {
    from {
        transform: rotateY(0deg); /* Starting position */
    }
    to {
        transform: rotateY(360deg); 
    }
}

.home .title {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

.home p {
    font-family: 'source_sans_proextralight', sans-serif;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    box-shadow: 0px 0px 5px 5px #1f2937;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/shop.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.home ul {
    background-color: white;
    max-width: 700px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 5px 5px #1f2937;
    font-family: 'source_sans_proextralight', sans-serif;
    font-weight: 900;
    font-size: 18px;
    
}

.home ul div {
    font-family: "intro_rust_gbase_2_line", sans-serif;;
    font-weight: 700;
    text-align: center;
}

.errorpage {
    height: 100%;
    font-weight: 700;
    padding: 20px;
    font-family: "intro_rust_gbase_2_line", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    background-color: #60a5fa;
}

.errorpage a {
    text-decoration: none;
    display: inline-block;
    color: white;
    
}

.contact {
    background-color: #6b7280;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contact h1 {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
}

form input, form label, textarea {
    display: inline-block;
    padding: 0 10px;
    flex-grow: 1;
    height: 100%;
}

form input {
    height: 30px;
    border-radius: 15px;
    border: none;
    
}

form div.text label {
    vertical-align: top;
}

label {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    color: #facc15;
    width: 60px;
    text-align: center;
}

form div {
    justify-content: center;
    display: flex;
    align-items: center;

}

form button {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 15px;
    border: none;
    background-color: #4ade80;
}

form textarea {
    height: 80px;
    padding-top: 10px;
}

div.button-container {
    margin-top: 20px;
    justify-content: center;
}

.contact .thankyou {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    font-size: 18px;
}

.contact .thankyou a {
    text-decoration: none;
    color: #bef264;
}

.singlemen {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 570px;
}

.singlemen > .singlecard .title, .singlemen > .singlecard .price, .singlemen > .singlecard .rating {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
}


.singlemen > .singlecard .price  {
    font-size: 20px;
    text-align: center;
}

.singlemen > .singlecard .desc {
    font-family: 'source_sans_proextralight';
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    max-width: 900px;
}

.singlemen > .singlecard .description > div {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
}

.singlemen > .singlecard .description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.singlemen > .singlecard .rating, .singlemen > .singlecard .rating .starimages    {
    display: flex;
}

.singlecard .rating > .starimages > img {
    width: 30px;
    height: 30px;
}

.singlemen > .singlecard .rating {
    align-items: center;
    gap: 40px;

}

.checkingout {
    background-color: #6b7280;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    height: 100%;
}

.checkingout section:first-child {
    background-color: white;
    min-width: 70%;
    max-width: 80%;
    min-height: 400px;
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 7px #1f2937;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkingout section:nth-child(2) {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    border: 5px solid white;
    min-width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 7px #1f2937;
}

.checkingout form {
    width: 100%;
    box-sizing: border-box;
}

.checkingout form input {
    font-size: 18px;
}

.checkingout form div {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

.checkingout .card-number, .checkingout .cvv {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.checkingout .card-number label, .checkingout .cvv label {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.checkingout .card-number input {
    box-sizing: border-box;
}


.checkingout .card-number {
    flex-grow: 1;
    min-width: 150px;
}


.checkingout .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.checkingout .cvv input {
    max-width: 60px;
}

.checkingout label {
    text-align: left;
    min-width: 80px;
}

.checkingout .cardicon {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.checkingout .cardicon img {
    width: 100px;
    height: 90px;
}

.checkingout .thankyou {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
}


.checkingout .thankyou a {
    text-decoration: none;
    color: lightgreen;
}

.checkingout .order {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;

}

.checkingout .order .items {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkingout .order .items .orderitems {
    display: flex;
    gap: 20px;
    align-items: center;
}

.checkingout .order .items .orderitems button {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #dc2626;
    color: white;
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-weight: 700;
    border: none;
}

.checkingout .order .items .orderitems img {
    object-fit: contain;
    width: 7%;
}




div.imgfilter {
    display: flex;
    gap: 20px;
    align-items: center;
}

div.imgfilter img {
    width: 40px;
    height: 40px;
}

div.imgfilter form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.imgfilter form h1 {
    font-family: "intro_rust_gbase_2_line", sans-serif;
    font-size: 13px;
    color: white;
}

div.searchbar {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.checkingout .information {
    display: flex; 
    gap: 10px;
    align-items: center;
}

.checkingout div.totalprice {
    text-align: center;
    font-size: 20px;
}

.checkingout div.title {
    text-align: center;
    flex-grow: 1;
}

.checkingout div.orderitems div.quant {
    min-width: 60px;
} 

.checkingout div.orderitems {
    justify-content: space-between;
}


@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 20px;
    }

    .checkingout section:first-child {
        min-width: 100%;
    }

    .shop main input {
        width: 100%;
    }

    .singlemen, .singlewomen {
        grid-auto-rows: min-content;
    }

    .shop main .itemcards img, .singlemen > .singlecard img, .singlewomen > .singlecard img {
        max-height: none;
    }

    .shop main .menitem, .shop main .womenitem {
        grid-auto-rows: 570px;
    }




}

@media (hover:hover) {
    li > a:hover {
        background-color: #fb923c;
    }

    .h1img a:hover {
        background-color: #fb923c;
    }

    .itemcards a:hover {
        box-shadow: 0px 0px 5px 4px #166534;
    }

    .itemcards .quantity button.add:hover {
        box-shadow: 0px 0px 5px 4px #166534;
    }

    .itemcards .quantity button.sub:hover {
        box-shadow: 0px 0px 5px 4px #b91c1c;
    }


    .itemcards button[type="submit"]:hover {
        box-shadow: 0px 0px 5px 4px #1f2937;

    }

    .orderitems button:hover {
        box-shadow: 0px 0px 5px 4px #b91c1c;

    }

    form .button-container button:hover {
        box-shadow: 0px 0px 5px 4px #166534;


    }






}




